LANGSMITH_TRACING=true
LANGSMITH_API_KEY="<your-langsmith-api-key>"
LANGSMITH_PROJECT="My Awesome Agent"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
GIT_ACCESS_TOKEN="<your-git-access-token>"
